<mat-card>
    <span>Create a new account</span>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="UserName" formControlName="userName">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <br/>
        <span *ngIf="registerForm.errors?.matchingFields">Passwords don't match</span>
        <br/>
        <button mat-raised-button color="primary" [disabled] = "!registerForm.valid">Register</button>
    </form>
</mat-card>
